<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <connectionStrings>
    <add name="sql_ori" connectionString="Data Source=200.60.109.28;Initial Catalog=BD_ECOMMERCE;Integrated Security=False;User ID=ecommerce;Password=Bata2018.*@=?++;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <!--<add name="sql_ori" connectionString="Data Source=ecommerce.bgr.pe;Initial Catalog=BD_ECOMMERCE;Integrated Security=False;User ID=ecommerce;Password=Bata2018.*@=?++;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />-->
    <add name="sql_des" connectionString="Data Source=10.10.10.208;Initial Catalog=BdTienda;Integrated Security=False;User ID=cquinto;Password=cquinto123;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </connectionStrings>
</configuration>